* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.contact-section {
    margin: 0.5rem;
}
.container-form {

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    max-width: 720px;
    height: 600px;
    margin: 0;
    padding: 0;

}

.alert {
    color: red;
}
.container-form div { 
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

input,
textarea {
    border-radius: 5px;
}
input, button {
    height: 25px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

#tienda-button {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}

@media (min-width: 721px) {
    .contact-section{
        display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
    }
    .container-form {
        min-width: 720px;
    }
}

